@tailwind base;

@tailwind components;

@tailwind utilities;

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .2s ease;
}
.slide-fade-leave-to {
  transform: translateX(-.5rem);
  opacity: 0;
}
.slide-fade-enter-from {
  transform: translateX(.5rem);
  opacity: 0;
}

@layer components {
  .button {
    @apply 
      h-auto 
      w-fit 
      shadow-[0_5px_rgba(0,0,0,0.5)] 
      p-2 
      font-semibold 
      cursor-pointer
      relative
      flex
      gap-2
      justify-center
      items-center
      rounded
      border-4
      border-transparent
      transition-all
      hover:top-[1.5px] 
      hover:shadow-[0_4px_rgba(0,0,0,0.5)]
      active:top-[5px]
      active:shadow-none
  }

  .button-primary {
    @apply
      button
    bg-primary-500
    !shadow-primary-900 
  }

  .button-secondary {
    @apply
      button
    bg-secondary-400 
    !shadow-secondary-800
  }

  .button-danger {
    @apply
      button
    bg-red-500 
    !shadow-red-900 
    text-white
  }

  .button-disabled{
    @apply
      button
      bg-disabled-200
      !shadow-disabled-700
      no-animation
      cursor-default
  }

  .selected{
    @apply
      border-selected-500
      !shadow-selected-700
      no-animation
      cursor-default;

    /* animation: selected 150ms ease-in-out; */
  }

  /* @keyframes selected{
    0%{
      top: 0;
      @apply shadow-[0_5px_rgba(0,0,0,0.5)]
            !shadow-selected-700
    }
    50%{
      top: 5px;
      @apply shadow-none
    }
    100%{
      top: 0;
      @apply shadow-[0_5px_rgba(0,0,0,0.5)]
            !shadow-selected-700
    }
  } */

  .no-animation{
    @apply
      hover:top-[0px]
      hover:shadow-[0_5px_rgba(0,0,0,0.5)]
      active:top-0
      active:shadow-[0_5px_rgba(0,0,0,0.5)]
  }

  input, textarea, select{
    @apply rounded;
  }
}

input {
  @apply border-2 border-black rounded-lg text-lg p-1;
}

table {
  @apply rounded-lg overflow-hidden text-left rtl:text-right text-2xl table-auto w-full select-text;
}

table thead {
  @apply bg-gray-200;
}

table th, table td{
  @apply px-4 py-2;
}

table thead tr{
  @apply bg-gray-200;
}

table tbody tr{
  @apply border-b-2 bg-gray-100;
}

table tbody tr:last-child{
  @apply border-b-0;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}